<!DOCTYPE html>
<HTML>

<head>
    <meta charset="utf-8">
    <title>RadioVia</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href='/stylesheets/normalize.css'>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href='/stylesheets/AgregarMedioPage.css'>

    <!--
    <link rel="stylesheet" href='/RadioVia/backend/public/stylesheets/normalize.css'>
    <link rel="stylesheet" href='/RadioVia/backend/public/stylesheets/style.css'>
    <script type="text/javascript" src="js/codigo.js"></script>
    -->
</head>

<body>

    <header>
        <div class="holder">
            <img src="/images/logo.svg" width="100" alt="RadioVia">
            <h1>RadioVia</h1>
        </div>
    </header>
    
    
    {{#if UserName}}

         <div style="margin-left: 50px;">
            {{{body}}}
        </div>
    {{/if}}

    {{#unless UserName}}
        <p><h6 style="margin-left: 50px;"> RadioVia: Ingreso a la Administracion del Sitio</h6></p>
        <div style="width: 350px; margin-left: 35%;">
            {{{body}}}
        </div>
    {{/unless}}

        
        <!--
        <p>No te Conozco</p>
        <form action="/ingresar" method="post">
            <input type="text" name="nombre"/>
            <button>Ingresar</button>
        </form>
        -->
    
    

    <footer>
        <p>Fundado por Martin Rodriguez - &copy;2022 </p>
    </footer>

</body>